
body{
    background-color: whitesmoke;
    margin: 0%;
}
.header{
    color: rgba(67, 3, 150, 0.719);
    justify-content: center;    
}
a{
    text-decoration: none;
    color: purple;
}


#canvas{
    position:absolute;
    z-index: -1;
}
.container{
    color: aliceblue;
    justify-content: center;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}
[data-inviewport]{
    opacity: 0; 
    display: grid;
    background: inherit;
    border-bottom-width: initial;
    border-top-style: double;
    border-color: grey;
}

[data-inviewport="slide"].is-inViewport{
    opacity: 0;
    animation: slide 3s cubic-bezier(1, 0, 0, 1)  normal forwards;
}

[data-inviewport="reverse-slide"].is-inViewport{
    opacity: 0;
    justify-content: end;
    animation: reverse-slide 2s cubic-bezier(1, 0, 0, 1)   normal forwards;
}

[data-inviewport="top-2-bottom"].is-inViewport{
    opacity: 0;
    animation: top-2-bottom 2s cubic-bezier(1, 0, 0, 1)  normal forwards;
}

@keyframes slide {
    from{
        opacity: 0;
        transform: translateX(0%);
    }
    to{
        opacity: 1;
        transform: translateX(5%);}
    }
    @keyframes reverse-slide {
        from{
            opacity: 0;
            transform: translateX(0%);
        }
        to{
            opacity: 1;
            transform: translateX(-5%);}
    }
 @keyframes top-2-bottom {
    from{
        opacity: 0;
        transform: translateY(10%);
    }
    to{
        opacity: 1;
        transform: translateY(-10%);}
}

#coverPhoto{
    border-radius:10%;
    opacity: 0.9;
    width:120px;
    height:120px;
}    
.imgLinks{
    width: 15px;
    height: 15px;
}
